
    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgb(28, 28, 28);
        color: rgb(230, 230, 230);
    }
    .note{
        color: rgb(255, 49, 49);
    }
    .link{
        font-size: x-small;
    }
    .img{
        font-style: italic;
    }
    .tbl{
        font-style: italic;
        font-weight: bold;
    }
    path{
        font-family: 'Consolas';
        background-color: rgb(51, 48, 45);
        border: 1px none;
        border-radius: 8px;
        padding: 1px 2px;
    }
    author{
        color: #ffe884;
    }
    icode{
        font-family: 'Consolas';
        background-color: rgb(41, 51, 41);
        border: 1px none;
        border-radius: 8px;
        padding: 1px 2px;
    }
    .code{
        background-color: rgb(41, 51, 41);
        border: 1px none;
        border-radius: 8px;
        padding: 1px 2px;
    }

    /* link stuff */
    /* unvisited */
    a:link {
        color: #2ea1ff;
    }
    /* visited */
    a:visited {
        color: #3051bd;
    }
    /* mouse over */
    a:hover {
        color: #4fd6ff;
    }
    /* selected */
    a:active {
        color: #1919ca;
    }


    table {
        font-weight: normal;
        border-collapse: collapse;
        width:100%;
    }

    td, th {
        border: 1px solid #cccccc;
        text-align: left;
        font-weight: normal;
        padding: 4px 6px;
    }
    th {
        font-weight: bold;
        background-color: rgb(34, 34, 34);
    }
    div{
        padding: 0px 4px;
    }